# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# local environment
.env*

# Vercel
.vercel

# operating systems
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
